<div class = "user-show">
    <h1><%= @user.name   %>の本棚です。</h1>
    <img src = "/user_images/<%= "#{@user.user_image_name}" %>" width = 200px,height = 200px;>
    <% if @current_user.id == params[:id].to_i %>
     <%= link_to("ユーザー情報の変更","/users/edit/#{@user.id}")  %>
    <% end %>
    <div class = "user-booklist">
        <% @books.each do |book|  %>
           <div class = "book-list">
               <!--本の画像-->
               <% @bit_url_ex = book.book_image_name.split('')  %>
               <% @bit_url = @bit_url_ex[-4] + @bit_url_ex[-3] + @bit_url_ex[-2] + @bit_url_ex[-1] %>
               <img src = "https://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/<%= @bit_url %>/<%= book.book_image_name  %>.jpg?_ex=200x200">
                <p><%= book.book_title %></p>
                <% if @current_user.id == params[:id].to_i  %>
                   <%= link_to("感想を投稿する","/posts/create_form/#{book.id}")  %>
                   <%= link_to("削除","/books/destroy/#{book.id}",{method:"post"})   %>
                 <% end %>
           </div>
        <%  end %>
    </div>
</div>