<!DOCTYPE html>
<html>
  <head>
    <title>BookApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<body>
    <header>
      <div class = "header-left">
         <%= link_to("Book Shelf","/" ) %>
      </div>
      <div class = "header-right">
        <ul>
         <% if @current_user %>
            <li><%= link_to("マイページ", "/users/show/#{@current_user.id}")  %></li>
            <li><%= link_to("ログアウト","/users/logout",{method: 'post'})  %></li>
         <% else %>
             <li><%= link_to("新規登録" ,"/users/signup")  %></li>
             <li><%= link_to("ログイン","/users/login_form" )   %></li>
         <% end %>
        </ul>
      </div>
     </header>
    <%= yield %>

  </body>
   <footer>
      <small>@Book Shelf 2019 Takaya Sugiyama</small>
</footer>
</html>
